.modal-multi-title {
  color: #272727;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.9px;
  line-height: 19px; }

.modal-multi-dnd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  border: 1px dashed #008FB7;
  cursor: pointer; }
  .modal-multi-dnd:hover {
    border: 1px solid #008FB7; }

.modal-multi-upload-image {
  margin-top: 75px; }

.modal-multi-upload-title {
  color: #272727;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-top: 5px; }

.modal-multi-formats {
  margin: 25px auto;
  max-width: 230px;
  color: #272727;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  text-align: center; }

.modal-multi-btns {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 80px; }
  .modal-multi-btns .button-main {
    height: 49px;
    width: 131px;
    background: #008FB7;
    text-transform: uppercase;
    font-size: 13px; }
    .modal-multi-btns .button-main.btn-back {
      background: none;
      border: 1px solid #008FB7;
      color: #008FB7; }

.modal-multi-error {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-style: italic;
  font-weight: 700;
  right: 0;
  color: #C93C00; }

.modal-multi input {
  display: none !important; }

.modal-multi video, .modal-multi audio {
  width: 570px; }

.cancel-btn {
  border: none;
  background: none;
  border-bottom: 1px solid #F15B59; }

.success-btn {
  border: none; }
