@import "../../../../assets/scss/variables.scss";

.user-edit-menu {
  font-weight: bold;
  font-size: 13px;
  padding: 30px;
  .edit-menu-item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color .3s ease;
    .edit-menu-icon {
      margin-right: 10px;
    }
    &.selected, &:hover {
      color: $color_main;
    }
  }
}