.card {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  padding: 35px;
  margin-right: 5px; }
  .card-number {
    color: #272727;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 17px; }
  .card-expired {
    color: #272727;
    font-family: Roboto;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px; }
  .card-header {
    display: flex;
    justify-content: space-between; }
  .card-rigth-block {
    width: 60px;
    height: 35px; }
    .card-rigth-block img {
      width: 100%;
      height: 100%; }
  .card-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
    .card-footer .card-def {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: #8e8e8e; }
      .card-footer .card-def.active {
        color: #008FB7; }
    .card-footer a {
      text-decoration: underline;
      color: #027590;
      font-size: 15px;
      line-height: 18px;
      cursor: pointer; }
