.board-reg-header {
  display: flex;
  justify-content: space-between; }
  .board-reg-header a {
    font-size: 14px;
    font-weight: bold; }

.journal-board {
  height: 565px;
  padding: 15px 20px 20px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11); }
  @media screen and (max-width: 768px) {
    .journal-board {
      margin-bottom: 30px; } }
  .journal-board .not-items {
    justify-content: flex-end; }
    .journal-board .not-items .not-items-btn {
      margin: 90px 0 0 0; }
  .journal-board .journal-item {
    margin-top: 20px; }
    .journal-board .journal-item .content {
      height: 150px;
      overflow-y: auto;
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      .journal-board .journal-item .content::-webkit-scrollbar {
        width: 5px; }
      .journal-board .journal-item .content::-webkit-scrollbar-track {
        background: #f1f1f1; }
      .journal-board .journal-item .content::-webkit-scrollbar-thumb {
        background-color: #c6c6c6;
        border-radius: 10px; }
      .journal-board .journal-item .content::-webkit-scrollbar-thumb:hover {
        background: #888; }
  .journal-board .slider-view .slide {
    height: 200px; }
    .journal-board .slider-view .slide .content-image,
    .journal-board .slider-view .slide .content-video {
      height: inherit;
      width: 100%;
      object-fit: contain; }

.journal-board-header {
  font-weight: normal;
  line-height: 28px;
  font-size: 20px;
  color: #2d2d2d;
  padding: 20px 0 40px 0;
  display: flex;
  justify-content: space-between; }

.journal-view-more, .journal-create-record {
  color: #45A1E4;
  font-size: 15px;
  letter-spacing: 0.48px;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  cursor: pointer; }

.journal-create-record {
  margin-top: 10px; }

.journal-not-found-msg {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.fixed-heigth {
  height: 634px !important; }

.djournal-description {
  margin-top: 20px;
  max-width: 425px; }
