@import "../../assets/scss/variables.scss";
@import "../../assets/scss/common.scss";

.static-pages {
  &.thank-page {
    height: calc(100vh - 27px);
    .static-pages-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      background-image: url('../../assets/img/thanks_g.svg');
      background-size: cover;
      background-position: center;
      width: 100%;
      margin: 0;
      max-width: 100%;
      img {
        width: 250px;
        height: 250px;
        margin-bottom: 50px;
      }
      .static-pages-body {
        height: 274px;
        width: 414px;
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 500px) {
          width: 95%;
          margin: -150px auto 0;
          padding: 10px;
        }
        .not-found-sub-header {
          color: $color_text;
          margin-bottom: 20px;
          text-align: center;
          font-size: 25px;
          letter-spacing: 0.54px;
          line-height: 29px;
        }
        .back-btn {
          @include regularBtn(#fff, #fff, #7BC372, #6AA962, none, 3px, 203px, 49px);
          margin: 10px auto 0;
          &:hover {
            text-decoration: none;
          }
        }
        &.text-center {
          text-align: center;
        }
      }
    }
  }
}
