@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/common.scss";
.forgot-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45.18deg, #4090B9 0%, #8CD2E8 100%);
    .forgot-form {
        background-color: #fff;
        width: 540px;
        padding: 35px 94px;
    }
    .page-logo {
        text-align: center;
        padding: 40px 0 20px;
        width: 230px;
    }
    .forgot-header {
        text-align: center;
        margin: 0 0 20px 0;
        font-family: "Roboto", sans-serif;
        color: $color_main_header;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.9px;
    }
    .forgot-description{
        color: #272727;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        letter-spacing: 0.3px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .footer{
        width: 100%;
        height: auto;
        margin: 360px 0 30px 0;
    }
    .forgot-input{
        border: 1px solid #E3E3E3;
        border-radius: 2px;
        padding: 12px 6px;
    }
    .forgot-btn-container{
        text-align: right;
    }
    .btn-forgot{
        display: inline-block;
        margin: 15px 0 0 25px;
        text-align: center;
        border: none;
        border-radius: 3px;
        background-color: #7BC372;
        color: white;
        padding: 20px;
        font-size: 13px;
        font-weight: bold;
        outline: none;
        text-transform: uppercase;
        &:hover{
            background-color: #7ec367;
        }
    }
    .cancel{
        color: #F15B59;
        text-decoration: underline;
    }
    .forgot-success {
        height: 307px;
        width: 540px;
        padding: 35px 94px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .back-button {
            @include regularBtn(#fff, #fff, #7BC372, #6AA962, none, 3px, 203px, 49px);
        }
    }
}

@media screen and (max-width: 768px){
    .forgot-page{
        .forgot-form{
            width: 85%;
            padding: 20px 15px;
        }
        .forgot-btn-container{
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }
        .btn-forgot {
            margin: 0 0 15px 0;
            width: 100%;
        }
        .footer{
            margin-top: 70px;
        }
    }
}
@media screen and (max-width: 570px){
    .forgot-page {
        .forgot-success {
            padding: 35px;
            width: 90%;
            .forgot-header {
                font-size: 22px;
            }
        }
    }
}
