.mobile-header {
  position: relative;
  display: none;
  z-index: 99997; }
  @media screen and (max-width: 768px) {
    .mobile-header {
      display: block; } }
  .mobile-header--header {
    background-color: #003E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; }
    .mobile-header--header:after, .mobile-header--header.fa {
      width: 48px;
      height: 48px; }
    .mobile-header--header:after {
      content: '';
      display: block; }
    .mobile-header--header .fa {
      color: white;
      font-size: 2em;
      padding: 15px; }
    .mobile-header--header .mobile-logo {
      height: 36px; }
  .mobile-header--search .search-form {
    display: block;
    border-bottom: 1px solid #f3f6fa; }
    .mobile-header--search .search-form .react-autosuggest__input {
      min-width: 100%; }
  .mobile-header--menu {
    background-color: #16ADD7;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform .2s ease; }
    .mobile-header--menu.active {
      transform: translateX(0);
      transition: transform .2s ease; }
    .mobile-header--menu .menu-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px; }
      .mobile-header--menu .menu-header:after, .mobile-header--menu .menu-header.fa {
        width: 48px;
        height: 48px; }
      .mobile-header--menu .menu-header:after {
        content: '';
        display: block; }
      .mobile-header--menu .menu-header .fa {
        color: white;
        font-size: 1.5em;
        padding: 15px; }
      .mobile-header--menu .menu-header .mobile-close {
        height: 36px; }
      .mobile-header--menu .menu-header .mobile-logo {
        height: 36px; }
    .mobile-header--menu .mobile-header--menu--items {
      padding: 0 10px; }
      .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase; }
        .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item.btn-map {
          padding: 40px 20px 20px;
          border-bottom: 1px solid white; }
        .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item.btn-logout {
          padding: 20px 20px 40px;
          border-top: 1px solid white; }
        .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item.btn-merchant-register, .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item.btn-create-tour {
          display: block;
          padding: 20px 0;
          margin: 0 20px;
          border-radius: 3px;
          border: 1px solid white;
          font-size: 14px;
          text-align: center; }
        .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item.btn-create-tour {
          background-color: white;
          color: #00c6ff; }
        .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item .fa-sign-in, .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item .fa-signing, .mobile-header--menu .mobile-header--menu--items .mobile-header--menu--item .fa-cog {
          width: 20px; }
