@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/common.scss";

.board-page-container {
  &.edit-user-page {
    padding-bottom: 0;
  }
}

.user-edit-account {
  padding: 20px 25px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 30px;
  &-avatar {
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    .edit-img {
      position: absolute;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60%;
        height: 60%;
        object-fit: cover;
      }      
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background: #d8d8d8;
    }
    &-image {
      height: 100px;
      width: 100px;

      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover; 
      }
    }
    input {
      display: none;
    }
    .edit-avatar {
      height: 36px;
      width: 36px;
      background-color: #d8d8d8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 5px;
      cursor: pointer;
      img {
        height: 17px;
        width: 17px;
      }
    }
  }
  .sign-up-btn {
    align-self: flex-end;
    width: 130px;
    height: 50px;
    @include regularBtn(#fff, #fff, #7BC372, #6AA962, none, 3px, 161px, 49px);
  }
  .change-password-trigger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sign-up-btn{
      background-color: #7BC372;
      &:hover {
        background: #5cc354;
      }
    }
  }
  .divider{
    background-color: #E6E6E6;
    margin: 10px -20px 35px -20px;
  }
  .forgot-link{
    color: #FF2346;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.12px;
    margin-right: 20px;
    text-decoration: underline;
  }
  .change-warning{
    color: #8E8E8E;	
    font-family: "Roboto", sans-serif;	
    font-size: 15px;
  }

  .change-password-form{
    .change-warning{
      padding: 20px 0;
    }
  }


  .user-profile-form {

    .form-control-group {
      width: 100%;
      position: relative;
      .auth-label {
        color: $gray-01;
        font-family: $font_roboto;
        font-size: 14px;
        letter-spacing: 0.13px;
        line-height: 16px;
      }
    }


    .modal-sign-in-warn-message {
      font-size: 12px;
      display: none;
      margin-bottom: 15px;
      padding-left: 10px;
      font-style: italic;
      font-weight: 700;
      &.error {
        display: block;
      }
    }
  }

  .sign-up-input {
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    color: #272727;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px;
    outline: none;
    height: 41px;
    width: 100%;
    min-width: 0;
    font-family: "Roboto", sans-serif;
    position: relative;
  }

  .react-autosuggest__input {
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    color: #272727;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px;
    outline: none;
    height: 41px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    position: relative;
    &::placeholder {
      color: $gray-01;
    }
  }

  .react-autosuggest__suggestions-container--open {
    line-height: 1.42;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    width: 100%;
    font-family: sans-serif;
    text-align: left;
    max-height: 310px;
    overflow-y: auto;
    .react-autosuggest__section-title {
      padding: 20px 0 10px;
      font-size: 16px;
      font-weight: bold;
      color: $color_main_header;
      border-bottom: 1px solid #dddddd;
      text-transform: uppercase;
    }
    .react-autosuggest__suggestion {
      padding: 10px 0;
      border-bottom: 1px solid #dddddd;
      cursor: pointer;
      color: #8c8c8c;
      font-size: 14px;
      margin: 0;
    }
    .react-autosuggest__suggestion--highlighted {
      color: #555;
    }
  }

  &-btn {
    &--container {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
    }
  }
  &--updated {
    color: green;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    margin-right: 15px;
  }
  &.social {
    padding-bottom: 45px;
    .gl-login {
      margin-top: 45px;
      display: flex;
      align-items: center;
      .btn-google {
        background: none;
        color: rgba(0, 0, 0, 0.54);
        margin-left: 10px;
      }
    }
    .btn-fb {
      margin-top: 30px;
      background: none;
      color: rgba(0, 0, 0, 0.54);
      margin-left: 10px;
      display: flex;
      align-items: center;
      margin-left: 0;
      svg {
        margin-right: 15px;
        g {
          g {
            fill: #4267b2;
          }
        }
      }
      &:hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.54);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .modal-sign-in-warn-message {
    font-size: 14px;
    color: #F15B59 !important;
    text-align: center;
    margin-top: 30px;
  }
  .edit-account-header {
    margin: 10px 0;
    color: #272727;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.64px;
  }
  .modal-multi-btns {
    justify-content: flex-end;
  }
}
