.map-filter {
  width: 280px;
  position: absolute;
  top: 53px;
  left: -200px;
  z-index: 1;
  transition: left 0.3s ease;
  min-height: calc(100% - 53px);
  background: #ffffff;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.5); }
  .map-filter.opened {
    left: 0; }
    .map-filter.opened .list-group {
      min-height: calc(100% - 53px);
      height: auto;
      display: block; }
    .map-filter.opened .menu-toggle-btn {
      display: none; }
  .map-filter .menu-toggle-btn {
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #2d2d2d;
    width: 80px;
    margin-top: 20px;
    outline: none; }
    .map-filter .menu-toggle-btn:active {
      background: none;
      box-shadow: none;
      color: #2d2d2d;
      outline: none; }
  .map-filter .arrow {
    transform: rotateY(0deg);
    transition: transform 1s ease; }
    .map-filter .arrow.rotate {
      transform: rotateY(180deg); }
  .map-filter .list-group {
    display: none;
    margin-bottom: 0;
    min-height: 0;
    height: 0;
    overflow: hidden; }
    .map-filter .list-group button {
      outline: none;
      height: 70px;
      border-radius: 0;
      border: none; }
    .map-filter .list-group span.list-group-item {
      border: none;
      border-top: 1px solid #dddddd; }
      .map-filter .list-group span.list-group-item .page-header {
        margin-top: 10px;
        color: #525252; }
      .map-filter .list-group span.list-group-item .arrow {
        color: #c6c6c6; }
      .map-filter .list-group span.list-group-item .expanded {
        font-weight: normal; }
      .map-filter .list-group span.list-group-item .form-control {
        color: #2d2d2d; }
    .map-filter .list-group .page-header {
      margin: 0;
      padding: 0;
      border: none;
      font-size: 14px;
      font-weight: bold;
      color: #2d2d2d;
      text-transform: uppercase; }
    .map-filter .list-group .inner-list {
      border: none;
      font-weight: bold;
      margin-top: 10px;
      font-size: 14px; }
      .map-filter .list-group .inner-list .list-group-item {
        border: none;
        padding: 10px 0; }
      .map-filter .list-group .inner-list .trigger {
        font-size: 10px;
        margin-right: 10px; }
