.input-errors {
  margin-top: 3px;
  color: #F15B59;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 13px; }
