.modal-dialog .modal-content {
  background: none; }
  .modal-dialog .modal-content .modal-header {
    background: #003E50;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .modal-dialog .modal-content .modal-body {
    background: #ffffff; }
    .modal-dialog .modal-content .modal-body .form-control-group {
      margin: 5px 0; }
    .modal-dialog .modal-content .modal-body .modal-sign-in-label {
      color: #8E8E8E;
      font-size: 11px;
      font-weight: 500;
      padding-left: 10px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .modal-dialog .modal-content .modal-body .modal-sign-in-input {
      width: 100%;
      padding: 10px 20px;
      border: 1px solid #979797;
      border-radius: 8px;
      margin-bottom: 10px;
      outline: none; }
      .modal-dialog .modal-content .modal-body .modal-sign-in-input.error {
        border-color: #f7b8b2; }
    .modal-dialog .modal-content .modal-body .modal-sign-in-warn-message {
      font-size: 11px;
      display: none;
      margin-top: -5px;
      padding-left: 10px; }
      .modal-dialog .modal-content .modal-body .modal-sign-in-warn-message.error {
        display: block; }
    .modal-dialog .modal-content .modal-body .btn-toolbar {
      margin-left: 0; }
      .modal-dialog .modal-content .modal-body .btn-toolbar button {
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 10px;
        margin-left: 0;
        width: 45%; }
        .modal-dialog .modal-content .modal-body .btn-toolbar button.linked-in {
          margin-bottom: 0; }
        .modal-dialog .modal-content .modal-body .btn-toolbar button .glyphicon {
          margin-right: 5px; }
  .modal-dialog .modal-content .modal-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #ffffff;
    border-top: 1px solid #003E50; }
    .modal-dialog .modal-content .modal-footer button {
      width: 100%;
      background: #003E50;
      border: none;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 13px;
      font-weight: bold;
      height: 40px; }
