.map-page {
  height: calc(100vh - 53px);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .map-page .map > div {
    min-height: calc(100vh - 53px);
    height: unset !important; }
