.route-stop {
  padding: 20px;
  border: 1px solid #008FB7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }
  .route-stop .route-stop-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .route-stop .route-stop-header .btn {
      text-transform: uppercase;
      font-size: 14px; }
  .route-stop .route-stop-form {
    display: block; }
    .route-stop .route-stop-form .insert-building {
      width: 100%;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 14px;
      color: #272727; }
      .route-stop .route-stop-form .insert-building .react-autosuggest__input {
        width: 100%;
        padding-left: 10px;
        height: 32px; }
        .route-stop .route-stop-form .insert-building .react-autosuggest__input::placeholder {
          color: #9c9c9c; }
