.stop-point-container.unpurchased {
  background: #FC9492; }
  .stop-point-container.unpurchased .stop-descr {
    margin-left: 0; }
    .stop-point-container.unpurchased .stop-descr .stop-item-header h4 {
      color: #ffffff; }
      .stop-point-container.unpurchased .stop-descr .stop-item-header h4 span {
        font-size: 21px; }
    .stop-point-container.unpurchased .stop-descr .stop-info-text {
      color: #ffffff; }
  .stop-point-container.unpurchased .stop-img {
    padding: 20px; }
    .stop-point-container.unpurchased .stop-img img {
      width: 100%;
      height: 100%; }
