.multimedia-photos-edit-stop-photos {
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.13px;
  line-height: 16px;
  color: #8e8e8e;
  margin-top: 20px;
  font-weight: 300; }

.multimedia-photos-edit-container {
  margin-top: 20px; }

.multimedia-photos-edit-add-photo {
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #008FB7;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  margin: 10px 0; }
  .multimedia-photos-edit-add-photo img {
    width: 100%;
    height: 100%; }

.multimedia-photos-edit-photos {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px; }

.multimedia-photos-edit-add-multimedia {
  color: #008FB7;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  margin-top: 35px; }

.multimedia-photos-edit-preview-multimedia {
  margin-top: 25px; }

.multimedia-photos-edit .preview-multimedia-player {
  margin-top: 10px; }
  .multimedia-photos-edit .preview-multimedia-player audio {
    min-width: 100%; }
