.property-map-block {
  &.activated {
    .thumbnail {
      background: #cece;
      transition: background .5s ease;
    }
  }
  .thumbnail {
    margin-bottom: 0;
    font-size: 11px;
    transition: background .5s ease;
  }
}