.purch-tours-block-bottom {
  display: flex;
  justify-content: space-between;
  padding: 11px 0; }
  .purch-tours-block-bottom .bottom-dates {
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #272727;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px; }
    .purch-tours-block-bottom .bottom-dates .date-title {
      color: #8e8e8e; }
  .purch-tours-block-bottom .bottom-status {
    margin-right: 11px;
    align-self: center; }
    .purch-tours-block-bottom .bottom-status .tour-status {
      height: 18px;
      width: 65px;
      border-radius: 13px;
      background-color: #30BA60;
      color: #F7F7F7;
      font-family: Roboto;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .purch-tours-block-bottom .bottom-status .tour-status.expired {
        background: #8e8e8e; }
