@import "../../../../assets/scss/variables.scss";

.tour-total {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  .total-stops {
    margin-right: 40px;
  }
  .total-top-text {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    color: $gray-01;
    text-transform: uppercase;
  }
  .total-bottom-text {
    color: $color_blue_1;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }
}