.tour-operator-container {
  margin: 0 auto;
  width: 100%;
  color: #003E50;
  font-weight: bold; }

.tour-operator-header {
  margin: 0 auto;
  max-width: 540px;
  padding: 30px; }

.tour-operator-title {
  margin: 30px 0 25px 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 28px;
  color: #2d2d2d; }

.tour-operator-btn {
  cursor: pointer; }
  .tour-operator-btn--container {
    margin-top: 10px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between; }
  .tour-operator-btn--register {
    height: 50px;
    background: #008FB7 !important;
    width: 130px; }
    .tour-operator-btn--register:hover {
      background: #027590 !important; }
  .tour-operator-btn--back {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .tour-operator-btn--back span {
      color: #008fb7;
      font-family: Roboto; }
    .tour-operator-btn--back img {
      height: 15px;
      width: 15px; }

.tour-operator-desctiption {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: normal;
  color: #2d2d2d; }

.input-wrapper {
  margin-top: 30px; }

.autosuggest {
  margin-bottom: 30px; }
  .autosuggest input {
    border: none;
    border-bottom: 2px solid #c6c6c6;
    color: #757575;
    padding: 10px 20px;
    outline: none;
    height: auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: all 0.3s; }

.form-control-group {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .form-control-group .auth-label {
    color: #8e8e8e;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.11px;
    line-height: 16px; }
  .form-control-group .form-control-input {
    border: none;
    border-bottom: 2px solid #c6c6c6;
    padding: 10px;
    outline: none;
    height: auto;
    min-width: 263px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s; }
    .form-control-group .form-control-input:focus {
      border-bottom: 2px solid #003e50; }
  .form-control-group .react-date-picker, .form-control-group .react-date-picker__wrapper {
    width: 100%;
    background: #fff; }
  .form-control-group .react-date-picker__wrapper {
    border: none; }
  .form-control-group .react-date-picker__inputGroup__input:focus, .form-control-group .react-date-picker__calendar-button:focus {
    outline: none; }
  .form-control-group .react-date-picker__inputGroup {
    color: #272727;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px; }

#about_me {
  resize: none; }

.go-back-title {
  font-size: 15px;
  margin-left: 5px; }

.required-fields {
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 14px;
  text-align: right;
  padding: 20px 0;
  font-weight: normal; }

.additional-terms {
  font-size: 11px;
  color: #8e8e8e; }
  .additional-terms a {
    color: #008FB7; }

.terms_and_conditions {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.35px;
  line-height: 18px;
  color: #8e8e8e; }
  .terms_and_conditions input {
    margin-top: 0; }
  .terms_and_conditions .go-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #8e8e8e; }

.not-agree {
  color: #F15B59 !important; }

.company-checkbox {
  display: flex;
  align-items: center; }
  .company-checkbox label {
    color: #8E8E8E;
    font-family: Roboto;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal; }

.sign-up-input {
  border: none;
  border-bottom: 2px solid #c6c6c6;
  color: #003e50;
  padding: 10px 20px;
  outline: none;
  height: auto;
  min-width: 263px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.3s; }

.auth-label {
  color: #8e8e8e;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.13px;
  line-height: 16px;
  text-align: left;
  align-self: flex-start; }

.company-label, .agree {
  cursor: pointer; }

.tour-operator-register {
  padding-top: 60px;
  min-height: 100vh;
  background: linear-gradient(45.18deg, #4090B9 0%, #8CD2E8 100%); }
  .tour-operator-register .header,
  .tour-operator-register .description {
    text-align: center;
    color: #272727;
    font-family: "Roboto", sans-serif; }
  .tour-operator-register .header {
    font-size: 20px;
    margin-bottom: 18px; }
  .tour-operator-register .description {
    margin-bottom: 35px;
    font-size: 14px; }
  .tour-operator-register.success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .tour-operator-register.success .tour-operator-register-success-block {
      background-color: #fff;
      width: 620px;
      padding: 35px 94px;
      margin: 0 auto; }
  .tour-operator-register .tour-operator-register-form {
    background-color: #fff;
    width: 620px;
    padding: 35px 94px;
    margin: 0 auto; }
    .tour-operator-register .tour-operator-register-form .form-control-group {
      position: relative;
      margin-bottom: 20px; }
      .tour-operator-register .tour-operator-register-form .form-control-group .form-input,
      .tour-operator-register .tour-operator-register-form .form-control-group .date-picker,
      .tour-operator-register .tour-operator-register-form .form-control-group .react-autosuggest__input {
        border: 1px solid #E3E3E3;
        border-radius: 2px;
        padding: 12px 6px;
        width: 100%;
        font-size: 14px; }
      .tour-operator-register .tour-operator-register-form .form-control-group .date-picker {
        padding: 5px; }
        .tour-operator-register .tour-operator-register-form .form-control-group .date-picker.has-errors {
          border: 1px solid #F15B59 !important;
          background-color: rgba(241, 91, 89, 0.12); }
          .tour-operator-register .tour-operator-register-form .form-control-group .date-picker.has-errors .react-date-picker__wrapper {
            background-color: transparent; }
    .tour-operator-register .tour-operator-register-form .company-checkbox {
      display: flex;
      align-items: center; }
      .tour-operator-register .tour-operator-register-form .company-checkbox .company-label {
        color: #8E8E8E;
        font-family: "Roboto", sans-serif;
        font-size: 11px; }
  .tour-operator-register .tour-operator-register-footer {
    width: 100%;
    height: auto;
    margin: 60px 0 30px 0; }
  .tour-operator-register .terms_and_conditions {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 11px; }
    .tour-operator-register .terms_and_conditions .go-link {
      color: #008FB7;
      font-weight: bold;
      font-size: inherit; }
  .tour-operator-register .tour-operator-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .tour-operator-register .tour-operator-btn-container .btn-next {
      background-color: #7BC372;
      padding: 18px 60px;
      text-transform: uppercase; }
      .tour-operator-register .tour-operator-btn-container .btn-next:hover {
        background-color: #61c356; }
    .tour-operator-register .tour-operator-btn-container .btn-cancel {
      text-decoration: underline;
      color: #008FB7;
      font-family: "Roboto", sans-serif;
      margin-right: 35px;
      cursor: pointer; }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .tour-operator-register .tour-operator-register-form {
    width: 60%; } }

@media screen and (max-width: 768px) {
  .tour-operator-register .tour-operator-register-form {
    width: 85%;
    padding: 20px 15px; } }
