@import "../../assets/scss/variables.scss";

.static-footer {
  background-color: $color_main;
  .static-footer-wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .term-item {
      padding: 20px;
    }
    .static-footer-terms {
      display: flex;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      display: block;
      text-align: center;
    }
  }
}