.change-pass-popup .container {
  width: 100%; }

.change-pass-popup .pass-label {
  color: #8E8E8E;
  font-size: 11px;
  font-weight: 500;
  padding-left: 10px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.change-pass-popup .password-warn-message {
  font-size: 11px;
  padding: 5px 10px; }
