.container-data {
  .container-background {
    position: relative;
    .container-bg-img {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .info-panel {
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
      background-color: transparent;
      border: none;
      .page-header {
        border-bottom: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        small {
          color: #ffffff;
        }
      }
    }
  }
}