.tour-point {
  display: flex;
  height: 117px;
  box-shadow: 0 0 12px 0 rgba(98, 99, 100, 0.34);
  border-radius: 3px;
  align-items: center;
  background-color: white;
  user-select: none;
  cursor: default;
  position: relative;
  padding-right: 30px; }
  .tour-point .dragger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    cursor: move; }
    .tour-point .dragger .dash {
      width: 13px;
      height: 2px;
      background-color: #C6C6C6;
      margin-bottom: 6px; }
      .tour-point .dragger .dash:last-child {
        margin-bottom: 0; }
  .tour-point .preview-image {
    height: inherit;
    width: 117px; }
    .tour-point .preview-image img {
      width: inherit;
      height: inherit;
      object-fit: cover; }
  .tour-point .tour-point-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 0 20px;
    width: 60%; }
    .tour-point .tour-point-info .title {
      color: #0D0D0D;
      font-family: "Roboto", sans-serif;
      font-size: 21px;
      line-height: 20px;
      max-width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .tour-point .tour-point-info .address {
      color: #8E8E8E;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px; }
  .tour-point .number {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #45A1E4;
    color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center; }
  .tour-point .point-measure .point-unit {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    color: #8e8e8e; }
    .tour-point .point-measure .point-unit .glyphicon {
      margin-right: 10px; }
    .tour-point .point-measure .point-unit .distance-time-container {
      user-select: none;
      margin-left: 20px; }
      .tour-point .point-measure .point-unit .distance-time-container img {
        margin-right: 5px; }
      .tour-point .point-measure .point-unit .distance-time-container span {
        font-size: 12px;
        color: #C6C6C6; }
  .tour-point .point-measure .pseudo-dashed-border {
    position: relative; }
    .tour-point .point-measure .pseudo-dashed-border:before {
      content: '';
      height: 100%;
      width: 1px;
      border-left: 2px dotted #008FB7;
      position: absolute;
      top: 0;
      left: 0px; }
  .tour-point .point-header-container {
    display: flex; }
  .tour-point .point-number {
    background: #9AD3E3;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #fff;
    padding: 2px 5px;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px; }
  .tour-point .point-title,
  .tour-point .point-building-name {
    display: flex;
    align-items: center;
    min-height: 66px; }
  .tour-point .point-content .point-header {
    color: #0D0D0D;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    line-height: 20px;
    margin-left: 15px;
    max-width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .tour-point .point-content .point-header.wrap {
    max-width: 239px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .tour-point .point-text {
    color: #8E8E8E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px; }

.point-icon {
  user-select: none;
  min-height: 78px;
  min-width: 78px;
  background: none;
  color: #e6e6e6;
  position: relative; }
  .point-icon .icon-number {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    z-index: 2;
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    color: #003E50;
    width: 100%;
    display: flex;
    justify-content: center; }
  .point-icon .icon-marker {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px; }
  .point-icon .icon-img {
    object-fit: cover;
    width: 78px;
    border-radius: 3px;
    height: 78px;
    margin-bottom: -3px; }

.point-icon {
  margin-left: 15px; }

.stop-point-container {
  height: 117px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(98, 99, 100, 0.34);
  display: flex;
  align-items: center;
  padding: 5px 0; }

.stop-point-container.row {
  margin: 0; }

.point-data-active {
  border-radius: 5px; }

.point-block-caret {
  height: 10px;
  width: 15px; }
  .point-block-caret img {
    height: 100%;
    width: 100%; }

.toggle-caret {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 65px;
  cursor: pointer; }

.point-block.flex {
  display: flex;
  padding-left: 2px; }

.point-block-points {
  margin: 0 2px;
  cursor: pointer; }
  .point-block-points .point {
    width: 5px;
    height: 5px;
    background: #CECECE;
    border-radius: 50%;
    margin: 4px; }

.point-remove, .point-edit {
  user-select: none;
  border: none; }

.point-block-points-wrapper {
  margin-top: 19px; }

.action-item.disabled {
  color: #ddd !important; }
