.tour-item-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  border-radius: 5px; }

.tour-item {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  display: flex;
  margin-bottom: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.11); }
  .tour-item .tour-img-block .tour-img-container {
    width: 170px;
    height: 110px; }
  .tour-item .tour-img-block .tour-img {
    margin-bottom: -3px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .tour-item .tour-img-block .tour-cost {
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007fa2;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.47px;
    line-height: 20px;
    color: #ffffff; }
  .tour-item .tour-main-block {
    width: 100%; }
    @media (max-width: 600px) {
      .tour-item .tour-main-block {
        overflow-x: auto; } }
    .tour-item .tour-main-block .tour-location {
      cursor: pointer;
      color: #8e8e8e;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      text-transform: uppercase;
      display: flex; }
      .tour-item .tour-main-block .tour-location .map-marker {
        margin-right: 3px;
        top: 3px;
        left: -2px; }
      .tour-item .tour-main-block .tour-location .green {
        color: #2C855A; }
      .tour-item .tour-main-block .tour-location .middot {
        font-size: 20px; }
    .tour-item .tour-main-block .tour-header {
      color: #272727;
      font-size: 18px;
      font-weight: bold;
      line-height: 17px;
      max-width: 460px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 15px 0;
      cursor: pointer; }
    .tour-item .tour-main-block .tour-rating {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px; }
      .tour-item .tour-main-block .tour-rating .stars {
        margin-right: 20px; }
        .tour-item .tour-main-block .tour-rating .stars img {
          width: 73px; }
      .tour-item .tour-main-block .tour-rating .reviews {
        color: #8e8e8e;
        font-size: 12px;
        line-height: 20px; }
    .tour-item .tour-main-block .tour-info {
      display: flex;
      margin-bottom: 5px;
      margin-top: 5px; }
      .tour-item .tour-main-block .tour-info .info-item {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: #8e8e8e;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .tour-item .tour-main-block .tour-info .info-item .item-top {
          text-transform: uppercase;
          white-space: nowrap; }
        .tour-item .tour-main-block .tour-info .info-item .item-bottom {
          color: #007fa2;
          font-weight: 500;
          font-size: 10px;
          white-space: nowrap;
          display: flex;
          align-items: center; }
          .tour-item .tour-main-block .tour-info .info-item .item-bottom .icon-mobility {
            margin-right: 5px;
            width: 12px;
            margin-bottom: 2px; }
          .tour-item .tour-main-block .tour-info .info-item .item-bottom.ages {
            text-transform: uppercase; }
    .tour-item .tour-main-block .tour-people {
      text-transform: uppercase;
      color: #8e8e8e;
      margin-top: 15px;
      font-size: 12px; }
  .tour-item .tour-toggle-block, .tour-item .tour-preview-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #c6c6c6;
    width: 180px;
    margin: 15px 0; }
    .tour-item .tour-toggle-block .tg-status, .tour-item .tour-toggle-block a, .tour-item .tour-preview-block .tg-status, .tour-item .tour-preview-block a {
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      color: #007fa2;
      text-transform: uppercase; }
  .tour-item .tour-toggle-block {
    flex-direction: column; }
    @media (max-width: 1200px) {
      .tour-item .tour-toggle-block {
        display: none; } }
    .tour-item .tour-toggle-block .toggler {
      cursor: pointer;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      position: relative;
      background: #007fa2; }
      .tour-item .tour-toggle-block .toggler .grip {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ffffff; }
      .tour-item .tour-toggle-block .toggler.inactive {
        background: #ffffff; }
    .tour-item .tour-toggle-block .tg-status {
      margin-top: 10px; }
  @media (max-width: 1200px) {
    .tour-item .tour-preview-block {
      display: none; } }
  .tour-item .tour-preview-block span {
    cursor: pointer;
    color: #007fa2;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px; }

.search-item-container {
  border-radius: 5px;
  margin-bottom: 30px; }
  .search-item-container .tour-item {
    margin-bottom: 0px;
    display: block; }
    .search-item-container .tour-item .tour-img-block {
      width: 100%;
      height: 156px;
      position: relative; }
      .search-item-container .tour-item .tour-img-block .fav-tour {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 32px;
        color: #d60b29;
        cursor: pointer; }
        .search-item-container .tour-item .tour-img-block .fav-tour.fa-heart-o {
          color: #fff; }
    .search-item-container .tour-item .tour-main-block {
      position: relative; }
      .search-item-container .tour-item .tour-main-block .tour-main-container {
        padding: 15px 10px 0px; }
      .search-item-container .tour-item .tour-main-block .tour-main-top-block {
        display: flex;
        justify-content: space-between; }
        .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top {
          width: 100%; }
          .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top .tour-category {
            margin-bottom: 5px; }
            .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top .tour-category .category-item {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #2C855A;
              font-size: 10px;
              font-weight: 500;
              line-height: 17px;
              text-transform: uppercase; }
          .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top .tour-location .map-marker {
            color: #525252; }
          .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top .tour-location .tour-location-city {
            font-size: 12px;
            line-height: 20px;
            font-weight: normal;
            width: 100%;
            color: #525252;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .search-item-container .tour-item .tour-main-block .tour-main-top-block .tour-top .tour-location .middot {
            color: #2C855A; }
      .search-item-container .tour-item .tour-main-block .tour-info {
        justify-content: flex-start; }
        .search-item-container .tour-item .tour-main-block .tour-info .middot {
          font-size: 20px; }
        .search-item-container .tour-item .tour-main-block .tour-info .info-item {
          margin-right: 0;
          font-size: 12px;
          font-weight: normal;
          line-height: 20px;
          color: #525252;
          white-space: nowrap; }
          .search-item-container .tour-item .tour-main-block .tour-info .info-item span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .search-item-container .tour-item .tour-main-block .tour-info .info-item .item-bottom .icon-mobility {
            height: auto; }
        .search-item-container .tour-item .tour-main-block .tour-info .info-item {
          display: block; }
          .search-item-container .tour-item .tour-main-block .tour-info .info-item.age-item {
            max-width: 40%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
      .search-item-container .tour-item .tour-main-block .tour-rating {
        margin-bottom: 0; }
        .search-item-container .tour-item .tour-main-block .tour-rating .stars {
          margin-right: 5px;
          margin-bottom: 2px; }
        .search-item-container .tour-item .tour-main-block .tour-rating .reviews {
          font-size: 10px;
          color: #525252; }
      .search-item-container .tour-item .tour-main-block .tour-bottom {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.69px;
        line-height: 20px;
        color: #272727;
        margin-top: 10px;
        padding: 0 0 0 11px; }

.search-tour-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #272727;
  cursor: pointer;
  max-width: 370px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@media (max-width: 1400px) {
  .search-item-container {
    width: 48%;
    margin-right: 4%; } }

@media (max-width: 1280px) {
  .search-result-title {
    margin-right: 4%; } }

@media (max-width: 1200px) {
  .search-item-container {
    width: 100%;
    margin-right: 0; } }

@media (max-width: 991px) {
  .search-item-container {
    width: 48%;
    margin-right: 4%; } }

@media (max-width: 640px) {
  .search-item-container {
    width: 100%;
    margin-right: 0; } }

@media (max-width: 480px) {
  .search-form {
    display: none; } }
